/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  color: white;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.navbar a:hover {
  color: #ffd700;
  padding-bottom: 3px;
  border-bottom: 2px solid #ffd700;
}

/* HERO */
.hero {
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1501785888041-af3ef285b470') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 15px 0;
}

/* BOTÕES */
.btn-primary {
  padding: 12px 25px;
  background: #ffd700;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  
}

.btn-primary:hover {
  transform: scale(1.1);
  background: white;

}

.btn-secondary {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s;
}

.btn-secondary:hover {
  background: #ffd700;
  color: black;
  transform: scale(1.1);
}

/* SEÇÕES */
.section {
  padding: 100px 20px;
  text-align: center;
}

.section h2 {
  margin-bottom: 40px;
  font-size: 2rem;
}

.alt {
  background: #dedcdc;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 280px;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.414);
  transition: 0.3s;
  padding-bottom: 15px;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card img:hover {
    width: 120%;
    transition: 1s;
}

.card h3 {
  margin: 15px 0;
}

/* MEET */
.meet-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.meet-container img {
  width: 300px;
  border-radius: 10px;
}

/* ADVICE */
.advice-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.advice-item {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.325);
}
.advice-item:hover {
 transform: translateY(-10px);
 transition: 0.4s;
 cursor: pointer;
}

/* FOOTER */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}